.board {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin: 50px auto;
    width: 600px;
}

.cell {
    border: 1px solid #DDD;
    cursor: pointer;
    font-size: 8em;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.cell:hover {
    border-color: #666;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.match {
    background: #ebfff2;
    border-color: #a2f1a2;
    color: #1f8e1f;
    position: relative;
}

@media (max-width: 600px) {
    .board {
        margin: 15px auto;
        max-width: calc(100vw - 30px);
    }

    .cell {
        font-size: 5em;
        height: calc(100vw / 3 - 10px);
        line-height: calc(100vw / 3 - 10px);
    }
}

.match.vertical:after,
.match.horizontal:after,
.match.diagonal-r:after,
.match.diagonal-l:after  {
    content: '';
    position: absolute;
}

.match.horizontal:after {
    top: 53.5%;
    left: 0;
    width: 100%;
    border-top: 1px solid #1f8e1f;
    border-bottom: 1px solid #1f8e1f;
}

.match.vertical:after {
    top: 0;
    left: 50%;
    height: 100%;
    border-left: 1px solid #1f8e1f;
    border-right: 1px solid #1f8e1f;
}

.match.diagonal-r:after,
.match.diagonal-l:after {
    top: -21%;
    left: 50%;
    height: 141.4%;
    border-left: 1px solid #1f8e1f;
    border-right: 1px solid #1f8e1f;
}

.match.diagonal-r:after {
    transform: rotate(45deg);
}

.match.diagonal-l:after {
    transform: rotate(-45deg);
}
