.container{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin: 50px auto;
    width: 600px;
}

.cell{
    border: 1px solid #DDD;
    cursor: pointer;
    font-size: 8em;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.cell:hover{
    border-color: #666;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.match{
    background: #ebfff2;
    border-color: #a2f1a2;
    color: #1f8e1f;
    position: relative;
}

/* .match:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #1f8e1f;
    border-bottom: 1px solid #1f8e1f;
} */